[submodule "_plugins/jekyll-uncss"]
	path = _plugins/jekyll-uncss
	url = https://github.com/episource/jekyll-uncss.git
[submodule "_terraform"]
	path = _terraform
	url = https://github.com/janoszen/pasztor.at-terraform.git
