notifiers:
  - name: VictorOps
    type: victorops
    uid: victorops
    org_id: 1
    is_default: true
    send_reminders: false
    disable_resolve_message: false
    settings:
      url: "${grafana_victorops_url}"
      autoResolve: true
      uploadImage: true
