<?php
return [
    'twitter' => [
        'oauth_access_token' => 'YOUR_OAUTH_ACCESS_TOKEN',
        'oauth_access_token_secret' => 'YOUR_OAUTH_ACCESS_TOKEN_SECRET',
        'consumer_key' => 'YOUR_CONSUMER_KEY',
        'consumer_secret' => 'YOUR_CONSUMER_SECRET',
    ],
    'facebook' => [
        'app_id' => '',
        'app_secret' => '',
        //generate with https://graph.facebook.com/oauth/access_token?client_id=YOUR_APP_ID&client_secret=YOUR_APP_SECRET&grant_type=client_credentials
        'access_token' => '',
    ],
    'subscriberdb' => [
        'servers' => [

        ],
        'username' => '',
        'password' => '',
        'db' => ''
    ]
];
